
<!-- <nav class="navbar navbar-expand navbar-light bg-light">
    <div class="nav navbar-nav">
        <a class="nav-item nav-link active" href="#" aria-current="page">Home <span class="visually-hidden">(current)</span></a>
        <a class="nav-item nav-link" routerLink="agregar-empleado"href="#">Agregar empleado</a>
        <a class="nav-item nav-link" routerLink="editar-empleado" href="#">Editar empleado</a>
        <a class="nav-item nav-link" routerLink="listar-empleado" href="#">Listar empleado</a>
    </div>
</nav> -->

<nav>

  <ul class="menu1">
      <div class="logo1">
          <img id="logo_1" src="./assets/contenidoUBR/hgo_logo.png" alt="" >
      </div>

      <div class="menu1">
          <li><a href="">GOBIERNO</a></li>
          <li><a href="">TRÁMITES</a></li>
          <li><a href="">TRANSPARENCIA</a></li>
          <li><a href="">PAGOS</a></li>
      </div>
  </ul>
</nav>

<nav class="barra_1">
  <ul class="ul_1">
    <div class="btn-menu">
      <label for="btn-menu" ><i class="fa-solid fa-bars" style="font-size: 35px; padding-top: 22px;"></i></label>
    </div>

      <div class="logo2">
          <img id="logo_2" src="./assets/contenidoUBR/logo_ubr.png" alt="" >
      </div>
      <div>

      </div>
      <div>

      </div>
  </ul>

</nav>

<input type="checkbox" id="btn-menu">
<div class="container-menu">
  <div class="cont-menu">
    <nav>
      <a href="" routerLink="inicio"> <i class="fa-solid fa-house"> </i>  inicio</a>
      <a href=""><i class="fa-solid fa-pencil"> </i> Lista de citas</a>
      <a href=""><i class="fa-solid fa-book"> </i> Lista de usuarios</a>
      <a href=""><i class="fa-solid fa-calendar-days"></i> Tablero</a>
      <a href="">...</a>
      <a href=""><i class="fa-solid fa-gear"></i> Configuración</a>
    </nav>
    <label for="btn-menu"><i class="fa-solid fa-circle-xmark" style="font-size:30px;"></i></label>
  </div>
</div>

<!-- <div class="scroll"></div> -->

<!-- <script src="js/menu.js"></script> -->

<router-outlet></router-outlet>
